.achievements {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: $lightgrey;
}

.achievements__legend {
  margin: 0;
  text-align: center;
  color: $pink;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  min-width: 100%;
  background-color: $lightgrey;
  padding-top: 42px;
}

.achievements__list {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 44px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  color: $greyblue;
}

.achievements__item {
  margin-bottom: 47px;
  position: relative;

  label {
    margin-left: 22px;
  }
}

.achievements__checkbox-svg {
  display: none;
  position: absolute;
  left: -20px;
  top: 10px;
  fill: $pink;
}

.achievements__checkbox {
  & + label::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    background-color: $white;
    border: 2px solid $grey;
    border-radius: 3px;
    left: -28px;
    top: 0;
  }

  &:hover + label::before {
    border-color: $greyblue;
  }

  &:active + label::before {
    border-color: $pink;
  }

  &:checked + label {
    .achievements__checkbox-svg {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .achievements {
    border: 2px solid $grey;
    border-radius: 1px;
    min-width: 620px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 51px;
    background-color: transparent;
  }

  .achievements__legend {
    min-width: 436px;
    padding: 0;
    background-color: transparent;
    margin-bottom: 49px;

    br {
      display: none;
    }
  }

  .achievements__list {
    max-width: 100%;
    margin-top: 0;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .achievements {
    display: block;
    border: 2px solid $grey;
    border-radius: 1px;
    min-width: 936px;
    margin-top: 64px;
    margin-bottom: 51px;
  }

  .achievements__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 228px;
  }
}
