.advantages__list {
  padding: 0;
  padding-bottom: 277px;
  position: relative;
  list-style: none;
  margin-top: 111px;
  display: flex;
  flex-direction: column;

  br {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    width: 157px;
    height: 320px;
    bottom: -55px;
    left: 62px;
    overflow: hidden;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: contain;
    }
  }
}

.advantages__item {
  max-width: 280px;
}

.advantages__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 280px;
}

@media (max-width: $desktop-width - 1) {
  .advantages__title {
    margin: 0;
    text-align: left;

    br {
      display: none;
    }
  }
}

.advantages {
  margin-top: 10px;
  overflow: hidden;
  background: linear-gradient(-5deg, $lightgrey 77%, $white 77%, $white 77%);
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $greyblue;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-top: 47px;
    background: linear-gradient(-5deg, $lightgrey 67%, $white 67%, $white 67%);
  }

  .advantages__wrapper {
    width: 640px;
  }

  .advantages__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .advantages__list {
    grid-column: 2 / 2;
    position: relative;
    margin: 0;
    margin-top: 108px;
    padding-bottom: 5px;

    br {
      display: inline;
    }

    &::before {
      grid-column: 1 / 2;
      content: "";
      position: absolute;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      width: 268px;
      height: 481px;
      bottom: 0;
      left: -310px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: contain;
      }
    }
  }

  .advantages__item {
    max-width: 310px;
  }

  .advantages__title {
    margin: 0;
    text-align: left;

    br {
      display: none;
    }
  }

  .advantages__description {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 35px;
  }

  .advantages__slogan {
    font-size: 40px;
    line-height: 54px;
    margin: 0;

    .advantages &:last-child {
      margin-top: 0;
    }
  }

  .advantages__mobile-break,
  .advantages__desktop-break {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    margin: 0 auto;
    padding: 0;
    width: 940px;
  }

  .advantages__grid {
    display: block;
  }

  .advantages__list {
    margin-top: 415px;
    margin-bottom: 15px;
    flex-direction: row;

    br {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/iphone-screen-1-desktop@1x.png"), url("../img/iphone-screen-2-desktop@1x.png"), url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: 9px 0, 332px 0, 655px 0;
      background-size: contain, contain, contain;
      width: 920px;
      height: 302px;
      top: -360px;
      left: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png"), url("../img/iphone-screen-2-desktop@2x.png"), url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    br {
      display: inline;
    }
  }

  .advantages__description {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;

    br {
      display: none;
    }
  }

  .advantages__item {
    position: relative;
    margin-left: 32px;
    margin-right: 46px;
    max-width: 245px;

    &:nth-child(3) {
      margin-left: 10px;
      margin-right: 0;
    }

    &:nth-child(2) {
      margin-left: 30px;
      margin-right: 65px;
    }
  }

  .advantages__slogan {
    font-size: 50px;
    line-height: 68px;
  }

  .advantages {
    margin-top: 60px;
    background: linear-gradient(-5deg, $lightgrey 62%, $white 62%, $white 62%);
  }
}
