.advantages {
  margin-top: 55px;
  background: linear-gradient(-5deg, $lightgrey 80%, $white 80%, $white 70%);
}

.advantages__list {
  list-style: none;
  margin: 0;
  margin-top: 123px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 43px;
  padding: 0;
}

.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $greyblue;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .advantages__list {
    grid-column: 2 / 2;
    position: relative;

    &::before {
      grid-column: 1 / 2;
      content: "";
      position: absolute;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      width: 268px;
      height: 481px;
      bottom: 5px;
      left: -320px;
    }
  }

  .advantages__title {
    margin: 0;
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }

  .advantages__slogan {
    font-size: 40px;
    line-height: 54px;

    .advantages &:last-child {
      margin-top: 0;
    }
  }

  .advantages__mobile-break,
  .advantages__desktop-break {
    display: none;
  }

  .advantages {
    background: linear-gradient(-5deg, $lightgrey 65%, $white 65%, $white 65%);
  }
}

@media (min-width: $desktop-width) {
  .advantages__grid {
    display: block;
  }

  .advantages__list {
    margin-top: 432px;
    flex-direction: row;
    justify-content: space-between;

    &::before {
      display: none;
    }
  }

  .advantages__wrapper {
    margin: 0 auto;
    padding: 0;
    width: 960px;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__description {
    text-align: center;
  }

  .advantages__mobile-break {
    display: none;
  }

  .advantages__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      width: 292px;
      height: 302px;
      top: -350px;
      left: 30px;
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      left: 0;
    }

    &:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      left: 30px;
    }
  }

  .advantages__slogan {
    font-size: 50px;
    line-height: 68px;
  }

  .advantages {
    background: linear-gradient(-5deg, $lightgrey 60%, $white 60%, $white 60%);
  }
}

@media (max-width: $mobile-width-only) {
  .advantages__list {
    padding-bottom: 282px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      width: 157px;
      height: 320px;
      bottom: -40px;
      left: 80px;
      overflow: hidden;
    }
  }

  .advantages__tablet-break,
  .advantages__desktop-break {
    display: none;
  }

  .advantages__wrapper {
    margin: 0 auto;
    padding: 0;
    width: 320px;
  }
}
