@media (max-width: $mobile-width-only) {
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 640px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 920px;
    margin: 0 auto;
    padding: 0;
  }
}
