.contest-contacts {
  order: 1;
  border: 0;
  margin: 0 auto;
  padding: 0;
  max-width: 280px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.contest-contacts__legend {
  display: none;
}

.contest-contacts__number,
.contest-contacts__email {
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  margin-bottom: 0;

  label {
    display: block;
    margin-bottom: 6px;
    padding-left: 22px;
  }
}

.contest-contacts__your-number,
.contest-contacts__your-email {
  border: 2px solid $grey;
  border-radius: 1px;
  height: 63px;
  padding: 14px;
  padding-left: 18px;
  min-width: 276px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $greyblue;
  }
}

.contest-contacts__icon {
  display: none;
}

@media (min-width: $tablet-width) {
  .contest-contacts {
    order: 0;
    border: 2px solid $grey;
    min-width: 620px;
    margin-top: 38px;
    margin-bottom: 15px;
  }

  .contest-contacts__legend {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: $pink;
    text-transform: uppercase;
    padding: 14px 31px;
    text-align: center;
    margin-left: 178px;
  }

  .contest-contacts__number,
  .contest-contacts__email {
    display: flex;
    flex-direction: column;
    margin-left: 57px;
    position: relative;
    margin-top: 15px;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 19px;
      background-color: $pink;
      mask: url("../img/icon-phone.svg");
      background-position: center;
      background-repeat: no-repeat;
      top: 23px;
      right: 79px;
      z-index: 2;
    }

    &::after {
      position: absolute;
      content: "";
      width: 58px;
      height: 58px;
      background-color: $grey;
      top: 2px;
      right: 61px;
    }

    label {
      margin-top: 10px;
      margin-bottom: 15px;
      padding-left: 20px;
      order: 1;
    }
  }

  .contest-contacts__your-number,
  .contest-contacts__your-email {
    max-width: 500px;
    padding-left: 20px;
  }

  .contest-contacts__email {
    margin-bottom: 12px;

    &::before {
      mask: url("../img/icon-mail.svg");
      width: 18px;
      height: 13px;
      top: 26px;
    }
  }

  .contest-contacts__icon {
    display: block;
    position: absolute;
    right: 80px;
    top: 20px;
    z-index: 2;
    fill: $pink;
  }
}

@media (min-width: $desktop-width) {
  .contest-contacts {
    min-width: 940px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .contest-contacts__icon {
    right: 20px;
  }

  .contest-contacts__legend {
    margin-left: 338px;
  }

  .contest-contacts__number {
    .contest-contacts__icon {
      top: 23px;
    }
  }

  .contest-contacts__email,
  .contest-contacts__number {
    margin-top: 13px;
    margin-left: 0;

    &::before {
      right: 20px;
    }

    &::after {
      width: 59px;
      height: 60px;
      top: 2px;
      right: 2px;
    }

    label {
      margin-bottom: 2px;
    }
  }

  .contest-contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 59px;
    margin-left: 57px;
  }

  .contest-contacts__your-number,
  .contest-contacts__your-email {
    min-width: 375px;
    padding: 15px;
    padding-left: 21px;
  }
}
