@media (max-width: $mobile-width-only) {
  .container {
    width: 340px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 660px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }
}
