.download {
  background-color: $darkblue;
  min-height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  a {
    color: $white;
    text-decoration: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 286px;
    top: -286px;
    left: 5px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 80%;
    }
  }
}

.download__description {
  color: $white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 0;
}

.download__link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $white;
  border-radius: 29px;
  padding: 14px 37px;
  margin-top: 15px;
  text-align: center;

  &:hover {
    background-color: $white;
    color: $pink;
  }

  &:active {
    color: rgba($pink, 0.3);
  }
}

.download__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 23px;
  margin-left: 35px;
  justify-content: center;
  align-items: center;
}

.download__item {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 35px;
  min-height: 56px;

  &:first-child {
    background-image: url("../img/logo-apple.svg");
  }

  &:nth-child(2) {
    background-image: url("../img/logo-android.svg");
  }

  &:last-child {
    background-image: url("../img/logo-microsoft.svg");
  }
}

.download__store {
  padding: 28px 24px;
}

.download__container {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .download {
    background-color: transparent;
    margin-bottom: 95px;
    margin-left: 20px;

    &::after {
      width: 660px;
      height: 545px;
      top: -164px;
      left: -40px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
    }
  }

  .download__container {
    min-width: 303px;
    z-index: 1;
  }

  .download__description {
    font-size: 18px;
    margin-left: 0;
  }

  .download__link {
    margin: 0;
    margin-top: 30px;
    padding: 16px 45px;
  }

  .download__list {
    margin-top: 45px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    margin-bottom: 108px;
    margin-left: 0;

    &::after {
      width: 935px;
      height: 645px;
      top: -241px;
      left: 15px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-size: cover;
<<<<<<< HEAD
=======
      z-index: 1;
>>>>>>> ff0a432fdb4fb6d0ebcc09e1695afa564cdaeda5

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  .download__description {
    margin-top: 50px;
  }

  .download__link {
    font-size: 21px;
    padding: 16px 28px;
    margin-top: 0;
  }

  .download__list {
    margin-top: 68px;
  }
}
