.effect__about {
  font-size: 14px;
  line-height: 24px;
  color: $pink;
  text-decoration: underline;
}

.effect__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-top: 97px;
}

.effect__description {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}

.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    padding-left: 10px;
    padding-top: 0;
  }

  .effect__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 660px;
  }

  .effect__wrapper {
    padding: 0;
    padding-bottom: 100px;
    grid-column: 2 / 2;
    position: relative;

    &::before {
      grid-column: 1 / 2;
      content: "";
      position: absolute;
      background-image: url("../img/icon-time-tablet.svg");
      background-repeat: no-repeat;
      width: 238px;
      height: 346px;
      top: 55px;
      left: -310px;
    }
  }

  .effect__desktop-break {
    display: none;
  }

  .effect__description {
    margin-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $lightgrey;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .effect__grid {
    grid-template-columns: 1fr 2fr;
    max-width: 940px;
  }

  .effect__tablet-break {
    display: none;
  }

  .effect__about {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__wrapper {
    margin-left: 57px;

    &::before {
      background-image: url("../img/icon-time.svg");
      background-repeat: no-repeat;
      width: 298px;
      height: 345px;
      top: 30px;
      left: -370px;
    }
  }

  .effect__title {
    margin-top: 122px;
    padding: 0;

    br {
      display: none;
    }
  }

  .effect__description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 22px;

    .effect__tablet-break {
      display: none;
    }

    .effect__desktop-break {
      display: inline;
    }
  }
}
