.feedback {
  order: 2;
  max-width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-top: 33px;
  border: 0;
  margin-bottom: 49px;
}

.feedback__legend {
  margin: 0;
  min-width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
}

.feedback__field {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  min-width: 280px;
  border: 2px solid $grey;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  min-height: 197px;
  resize: none;
  padding-left: 20px;
  padding-top: 12px;

  &::placeholder {
    color: $greyblue;
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    order: 0;
    border: 2px solid $grey;
    border-radius: 1px;
    min-width: 620px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 65px;
  }

  .feedback__legend {
    min-width: auto;
    padding: 0 38px;
  }

  .feedback__field {
    margin-top: 32px;
    margin-bottom: 50px;
    margin-left: 60px;
    min-width: 496px;
    padding-top: 14px;
    padding-left: 19px;
    min-height: 192px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    min-width: 940px;
    margin-top: 2px;
  }

  .feedback__field {
    margin-top: 27px;
    margin-bottom: 40px;
    min-width: 816px;
    min-height: 128px;
  }
}
