.gallery {
  font-weight: normal;
  color: $greyblue;
}

.gallery__list {
  list-style: none;
}

.gallery__description {
  font-size: 14px;
  line-height: 30px;
}

.gallery__author-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.gallery__author-time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.gallery__author-likes {
  font-size: 12px;
  color: $pink;
  text-transform: uppercase;
}

.gallery__item {
  background-color: $lightgrey;
}

.gallery__author-comment {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__top {
  text-align: center;
}
