.gallery {
  font-weight: normal;
  color: $greyblue;
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 280px;
}

.gallery__description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 60px;
}

.gallery__author-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-left: 17px;
  padding-top: 26px;
}

.gallery__author-time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.gallery__author-likes {
  font-size: 12px;
  color: $pink;
  text-transform: uppercase;
  padding-left: 48px;
  padding-bottom: 26px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    background-color: $pink;
    mask: url("../img/icon-heart.svg") no-repeat center;
    top: 0;
    left: 17px;
  }
}

.gallery__item {
  background-color: $lightgrey;
  margin-top: 20px;
}

.gallery__author-comment {
  font-size: 14px;
  line-height: 24px;
  padding-left: 17px;
  margin-top: 0;
}

@media (max-width: $mobile-width-only) {
  .gallery__tablet-break {
    display: none;
  }
}

.gallery__author-image {
  width: 100%;
}

.gallery__top {

  .gallery__item {
    text-align: left;
    margin: 0 auto;
    max-width: 280px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    max-width: 620px;
  }

//?????????????
  .gallery__author-image {
    background-image: url("../img/panorama-tablet@1x.jpg");
  }

  .gallery__top {

    .gallery__item {
      text-align: left;
      margin: 0 auto;
      max-width: 620px;
    }
  }

  .gallery__mobile-break {
    display: none;
  }

  .gallery__description {
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 85px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 940px;
  }

  .gallery__description {
    margin-bottom: 97px;
  }

  .gallery__top {

    .gallery__item {
      max-width: 940px;
    }

    br {
      display: none;
    }
  }

  .gallery__tablet-break {
    display: none;
  }

  .gallery__mobile-break {

    &:last-child {
      display: block;
    }
  }
}

.gallery__top {
  text-align: center;
}
