.main-nav {
  background-color: $greyblue;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;

  a {
    color: $white;
    text-decoration: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: $white;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }
}
