.map {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
  overflow-y: hidden;
  max-height: 200px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: -95px;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    height: 123px;
    z-index: 2;
  }
}

.map__iframe {
  position: absolute;
  z-index: 1;
  border: 0;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  left: 0;
  top: 0;
}

.map__image {
  margin: auto;
  max-width: 320px;
}

@media (min-width: $tablet-width) {
  .map {
    max-height: 374px;
    margin-bottom: 0;
    margin-top: 25px;

    &::before {
      top: -65px;
    }
  }

  .map__iframe {
    min-height: 779px;
  }

  .map__image {
    max-width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin-top: 18px;
    max-height: 502px;

    &::before {
      top: -20px;
    }

    .map__image {
      max-width: 100%;
    }
  }

  .map__iframe {
    min-height: 502px;
  }
}
