.modal-failure {
  width: 320px;
  flex-direction: column;
  text-align: center;
  background-color: $white;
  height: 289px;
  box-shadow: 0 7px 15px rgba($shadow, 0.15);
  border-radius: 5px;

  .container {
    max-width: 280px;
  }
}

.modal-failure__title {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  br {
    display: none;
  }
}

.modal-failure__description {
  margin: 0;
  margin-bottom: 50px;
  color: $greyblue;
  font-size: 14px;
  line-height: 24px;
}

.modal-failure__close-btn {
  margin: 0;
  border: 2px solid $specialgreen;
  border-radius: 3px;
  background-color: $specialgreen;
  padding: 13px 124px;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .modal-failure {
    width: 460px;
    height: 363px;

    .container {
      max-width: 320px;
    }
  }

  .modal-failure__title {
    margin-top: 49px;
    font-size: 30px;
    line-height: 40px;

    br {
      display: inline;
    }
  }

  .modal-failure__description {
    margin-bottom: 40px;
    font-size: 18px;

    br {
      display: none;
    }
  }

  .modal-failure__close-btn {
    padding: 13px 135px;
  }
}

@media (min-width: $desktop-width) {
  .modal-failure {
    width: 780px;
    height: 377px;

    .container {
      max-width: 400px;
    }
  }

  .modal-failure__title {
    br {
      display: none;
    }
  }

  .modal-failure__close {
    background-color: $lightgrey;
  }

  .modal-failure__description {
    margin-bottom: 68px;
  }

  .modal-failure__close-btn {
    margin: 52px 0;
  }
}
