.name {
  border: 0;
  margin: 0 auto;
  max-width: 280px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.name__field {
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;

  label {
    display: block;
    padding-left: 22px;
  }
}

.your-name {
  border: 2px solid $grey;
  border-radius: 1px;
  padding: 23px;
  padding-left: 19px;
  margin-top: 5px;
  min-width: 276px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $greyblue;
  }
}

@media (min-width: $tablet-width) {
  .name {
    margin: 0;
    min-width: 640px;
    margin-top: 55px;
    margin-bottom: 8px;
    padding: 0;
  }

  .name__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

    label {
      padding-left: 0;
      padding-right: 20px;
    }
  }

  .your-name {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .name {
    min-width: 436px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .your-name {
    padding: 23px;
    padding-bottom: 21px;
    padding-left: 19px;
    margin-top: 2px;
  }

  .name__field {
    margin-bottom: 50px;
    margin-top: 11px;

    &:last-child {
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 0;
      max-width: 340px;

      label {
        display: none;
      }
    }
  }
}
