.name {
  border: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 280px;
  margin-bottom: 26px;
  margin-top: 22px;
}

.name__field {
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;

  label {
    display: block;
    padding-left: 21px;
  }
}

.your-name {
  border: 2px solid $grey;
  border-radius: 1px;
  height: 63px;
  padding: 12px;
  padding-left: 19px;
  margin-top: 7px;
  min-width: 276px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $greyblue;
  }
}

@media (min-width: $tablet-width) {
  .name {
    margin: 0;
    min-width: 620px;
    margin-top: 55px;
    margin-bottom: 8px;
    padding: 0;
  }

  .name__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 51px;

    label {
      padding-left: 0;
      padding-right: 20px;
    }
  }

  .your-name {
    flex-grow: 1;
    margin-top: 1px;
    padding: 15px;
    padding-left: 19px;
  }
}

@media (min-width: $desktop-width) {
  .name {
    min-width: 436px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .your-name {
    padding: 14px;
    padding-left: 19px;
    margin-top: 3px;
  }

  .name__field {
    margin-bottom: 50px;
    margin-top: 11px;

    &:last-child {
      margin-bottom: 35px;
    }
  }
}
