.page-header {
  display: flex;
  flex-direction: column;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 237px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.main-header {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 80%, cover;
  background-position: 0% 40%, center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  text-align: center;
}

.page-header__toggle {
  position: relative;
  z-index: 2;
  display: block;
  width: 70px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page-header__upper-panel-wrapper--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 50px;
  height: 4px;
  background-color: $white;
  border-radius: 1px;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
  top: 0;
}

.page-header__upper-panel-wrapper--closed .page-header__toggle:hover::before {
  background-color: $pink;
  box-shadow:
    0 10px 0 0 $pink,
    0 20px 0 0 $pink;
}

.page-header__upper-panel-wrapper--closed .page-header__toggle:active::before {
  background-color: rgba($pink, 0.3);
  box-shadow:
    0 10px 0 0 rgba($pink, 0.3),
    0 20px 0 0 rgba($pink, 0.3);
}

.photo-header .page-header__title {
  margin-top: 27px;
  margin-bottom: 77px;
  line-height: 33px;
}

.form-header .page-header__title {
  margin-top: 36px;
  margin-bottom: 51px;
}

.page-header__upper-panel-wrapper {
  background-color: transparent;
  border-bottom: 1px solid rgba($black, 0.3);
}

.container .page-header__upper {
  max-width: 280px;
  margin: 23px auto 19px;
}

.photo-header,
.form-header {
  .page-header__upper-panel-wrapper {
    background-color: rgba($black, 0.3);
  }
}

.main-header .page-header__title {
  margin-bottom: 315px;
  margin-top: 22px;

  br {
    display: none;
  }

  .page-header__mobile-break {
    display: inline;
  }
}

@media (max-width: $desktop-width - 1px) {
  .container {
    min-width: 100%;
  }

  .page-header__upper-panel-wrapper--opened {
    background-color: $greyblue;
    border-bottom: 1px solid $black;
  }

  .page-header__upper-panel-wrapper .container {
    min-width: 100%;
  }

  .main-nav--nojs .page-header__toggle {
    display: none;
  }

  .page-header__upper {
    display: flex;
    justify-content: space-between;
  }

  .page-header__upper-panel-wrapper--opened .page-header__toggle {
    right: 0;
    left: auto;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      width: 30px;
      height: 3px;
      background-color: $white;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba($pink, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header__upper-panel-wrapper--closed .page-header__toggle::before {
    top: 15px;
  }

  .container .page-header__upper {
    max-width: 620px;
    margin: 30px auto 40px;
  }

  .container {
    max-width: 640px;
  }

  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .main-header {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 100%, cover;
    background-position: 0% 100%, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .main-header .page-header__title {
    margin-bottom: 0;

    br {
      display: inline;
    }

    .page-header__mobile-break {
      display: none;
    }
  }

  .page-header__title {
    margin-left: 38px;
    font-size: 40px;
    line-height: 48px;

    br {
      display: inline;
    }

    .page-header__mobile-break {
      display: none;
    }
  }

  .page-header__download-wrapper {
    margin-left: 0;
    margin-right: auto;
    padding: 0;
    margin-top: 94px;
    max-width: 300px;
  }

  .photo-header {
    min-height: 440px;
  }

  .photo-header .page-header__title {
    font-size: 50px;
    line-height: 68px;
    margin-top: 64px;
    margin-left: 0;
    margin-bottom: 128px;
  }

  .form-header .page-header__title {
    margin-top: 81px;
    margin-bottom: 74px;
  }

  .page-header__upper-panel-wrapper {
    background-color: rgba($black, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-header {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 1050px 645px, cover;
    background-position: 55% 100%, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
      background-size: 1050px 645px, cover;
      background-position: 40% 100%, center;
    }
  }

  .page-header__upper-panel-wrapper .container {
    display: flex;
    align-items: center;
    min-height: 110px;
  }

  .container {
    max-width: 940px;
  }

  .page-header__title {
    margin-left: 0;
    margin-top: 100px;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 35px;
  }

  .main-header .page-header__title {
    margin-top: 98px;
    margin-bottom: 35px;
  }

  .photo-header {
    min-height: 394px;
  }

  .photo-header .page-header__title {
    margin-top: 59px;
    margin-right: 0;
    margin-bottom: 35px;
  }

  .form-header .page-header__title {
    margin-top: 60px;
    margin-bottom: 87px;

    br {
      display: none;
    }
  }

  .page-header__toggle {
    display: none;
  }

  .container .page-header__upper {
    margin: 0;
  }
}
