.pop-up {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 5;
}


.pop-up--show {
	display: block;
	/*-webkit-animation: bounce 0.6s;
	animation: bounce 0.6s;*/
}
