.rates {
  background-color: $lightgrey;
  padding-top: 15px;
  padding-bottom: 45px;
  text-transform: uppercase;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.rates__table {
  position: absolute;
  left: -218px;
  margin-top: 50px;
  background-color: $white;
  border-collapse: collapse;
}

.rates__item-title,
.rates__empty {
  display: none;
}

.rates__table-head {
  background-color: $greyblue;
  empty-cells: hide;

  th {
    border: 2px solid $grey;
    overflow: hidden;
    position: relative;

    &:nth-child(3)::before {
      position: absolute;
      content: "Хит";
      height: 25px;
      width: 115px;
      font-size: 14px;
      line-height: 30px;
      background-color: $pink;
      color: $white;
      padding-top: -5px;
      font-weight: normal;
      text-transform: uppercase;
      top: 16px;
      left: -32px;
      transform: rotate(-45deg);
    }
  }
}

.rates__title {
  color: $white;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  margin-top: 10px;
  padding: 0 95px;
}

.rates__price {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: $white;
  margin: 0;
  margin-bottom: 26px;
}

.rates__item {
  border: 2px solid $grey;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $greyblue;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-right: 0;
  padding-left: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 21px;
    background-color: $green;
    mask: url("../img/icon-yes-green.svg");
    top: 15px;
    right: 17px;
  }
}

.rates__item--no {
  &::after {
    width: 27px;
    height: 27px;
    background-color: $orange;
    mask: url("../img/icon-no.svg");
    top: 15px;
    right: 21px;
  }
}

.rates__controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 375px;
  max-width: 56px;
  align-self: center;
}

.rates__button {
  border: 3px solid $lightgrey;
  border-radius: 50%;
  background-color: rgba($greyblue, 0.3);
  padding: 3px;

  &:hover {
    background-color: rgba($greyblue, 0.6);
  }

  &:active {
    background-color: rgba($greyblue, 0.1);
  }
}

.rates__button--active {
  border: 3px solid $greyblue;
  background-color: transparent;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .rates {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .rates__table {
    position: relative;
    left: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .rates__item-title {
    display: table-cell;
    padding: 10px;
    padding-top: 5px;
    padding-left: 15px;
    border: 2px solid $grey;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: $greyblue;
    text-align: left;
    text-transform: none;
    min-width: 153px;
  }

  .rates__item {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0;

    &::after {
      top: 10px;
      right: 40%;
    }
  }

  .rates__item--no {
    &::after {
      top: 7px;
      right: 40%;
    }
  }

  .rates__empty {
    display: table-cell;
    background-color: $lightgrey;
  }

  .rates__table-head {
    th {
      &:first-child {
        border: 2px solid $lightgrey;
        border-bottom: 2px solid $grey;
      }

      &:nth-child(3)::before {
        height: 20px;
        width: 115px;
        top: 10px;
        left: -35px;
      }
    }
  }

  .rates__controls {
    display: none;
  }

  .rates__title {
    padding: 0;
    padding-top: 10px;
    padding-left: 3px;
    margin: 0;
    margin-top: 0;
    min-width: 152px;
    text-align: center;
  }

  .rates__price {
    margin-bottom: 8px;
  }

  .rates__mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rates {
    padding-top: 0;
  }

  .rates__table {
    margin-bottom: 45px;
  }

  .rates__title,
  .rates__item-title {
    min-width: 233px;
  }

  .rates__table-head {
    th {
      &:nth-child(3)::before {
        height: 26px;
        width: 115px;
        top: 20px;
        left: -30px;
      }
    }
  }

  .rates__title {
    font-size: 18px;
    padding-top: 19px;
    padding-bottom: 0;
  }

  .rates__price {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .rates__item-title {
    padding-top: 13px;
    padding-bottom: 15px;
    font-size: 18px;
    padding-left: 22px;
  }

  .rates__item {
    &::after {
      top: 16px;
      right: 100px;
    }
  }

  .rates__item--no {
    &::after {
      top: 15px;
      right: 100px;
    }
  }
}
