@media (min-width: $tablet-width) {
  .site-list {
    width: 570px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 620px;
  }

  .site-list__item a {
    padding-left: 0;
    padding-right: 0;
    margin-right: 79px;
  }

  .site-list__item {
    &:last-child a {
      margin-right: 0;
    }

    &--active a {
      border-bottom: 2px solid $white;
    }
  }
}
