.upload {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  overflow: hidden;
}

.upload__wrapper {
  margin-top: 42px;
  background-color: $lightgrey;
}

.upload__grid {
  margin: 0 auto;
  max-width: 280px;
  padding-top: 20px;
}

.upload__description {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $greyblue;
  margin: 0;
}

.upload__edit {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.upload__edit-item {
  position: relative;
  margin-right: 4px;
  margin-top: 35px;

  &:first-child {
    .upload__range {
      display: block;
    }
  }

  &::before {
    display: none;
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: rgba($greyblue, 0.1);
    bottom: -20px;
    left: -57px;
  }

  &:nth-child(2) {
    margin-top: 37px;
    margin-right: 0;
  }

  &:nth-child(3) {
    margin-top: 40px;
    margin-right: 0;
  }

  &:first-child::before {
    display: block;
  }
}

.upload__range {
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 20px;
}

.upload__range-active {
  display: block;
}

.upload__range-control {
  position: absolute;
  top: -8px;
  left: 182px;
  border: 2px solid $pink;
  background-color: $lightgrey;
  border-radius: 50%;
  padding: 5px 5px;

  &:active {
    background-color: $pink;
  }
}

.upload__range-bar {
  position: absolute;
  content: "";
  width: 240px;
  height: 2px;
  background-color: $greyblue;
  top: -2px;
  left: -10px;
  z-index: 0;
}

.upload__button {
  background-color: transparent;
  border: 3px solid $pink;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $pink;
  padding: 15px 87px;
  margin-top: 53px;
  margin-bottom: 12px;

  &:hover {
    background-color: $pink;
    color: $white;
  }

  &:active {
    background-color: $pink;
    color: rgba($white, 0.3);
  }
}

.upload__button-cancel {
  background-color: transparent;
  border: 3px solid rgba($greyblue, 0.1);
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: rgba($greyblue, 0.1);
  padding: 15px 103px;
  margin-bottom: 41px;

  &:hover {
    border: 3px solid rgba($greyblue, 0.3);
    color: rgba($greyblue, 0.3);
  }

  &:active {
    background-color: rgba($greyblue, 0.3);
    color: rgba($white, 0.3);
  }
}

.upload__edit-button {
  border: 0;
  margin-right: 20px;
  margin-bottom: 39px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.upload__tool {
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }
}

.upload__tool--active {
  opacity: 1;
  fill: $pink;
}

@media (min-width: $tablet-width) {
  .upload__description {
    font-size: 18px;
  }

  .upload {
    margin-top: 65px;
    margin-bottom: 0;
  }

  .upload__wrapper {
    margin-top: 70px;
  }

  .upload__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 620px;
    margin-top: 37px;
  }

  .upload__edit-item {
    display: flex;
    margin-top: 6px;

    &:nth-child(2) {
      .upload__range-control {
        left: 27px;
        top: 4px;
      }

      .upload__range-bar {
        top: 8px;
      }
    }

    &:last-child {
      margin-top: 32px;
      margin-left: 7px;

      .upload__range-bar {
        top: 7px;
        left: 4px;
      }

      .upload__range-control {
        left: 100px;
        top: 4px;
      }
    }

    &::before {
      display: block;
      width: 275px;
      bottom: 0;
      left: 0;
    }

    &:first-child::before {
      display: block;
    }
  }

  .upload__edit {
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
  }

  .upload__grid-wrapper {
    margin-left: 30px;
  }

  .upload__range {
    display: block;
    margin-left: 2px;
    min-width: 202px;
  }

  .upload__range-bar {
    width: 202px;
    top: 12px;
    left: 0;
  }

  .upload__range-control {
    top: 7px;
    left: 147px;
    width: 14px;
  }

  .upload__edit-button {
    margin-bottom: 10px;
  }

  .upload__crop {
    width: 26px;
    height: 26px;
  }

  .upload__fill {
    width: 25px;
    height: 23px;
  }

  .upload__contrast {
    width: 16px;
    height: 16px;
  }

  .upload__fill,
  .upload__contrast {
    fill: $pink;
    opacity: 1;
  }

  .upload__buttons {
    margin-left: 7px;
  }

  .upload__button {
    padding: 15px 78px;
    margin-top: 80px;
    margin-bottom: 24px;
  }

  .upload__button-cancel {
    padding: 15px 90px;
    margin-bottom: 58px;
  }

  .upload__tool {
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .upload {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 61px;
  }

  .upload__wrapper {
    margin-top: 67px;
  }

  .upload__description {
    margin-top: 58px;
  }

  .upload__image {
    min-width: 300px;
    margin-top: 4px;
  }

  .upload__grid {
    grid-template-columns: 1fr 2fr;
    margin-left: 80px;
    max-width: 790px;
    margin-top: 33px;
  }

  .upload__grid-wrapper {
    margin-left: 88px;
  }

  .upload__button {
    padding: 15px 40px;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .upload__button-cancel {
    padding: 16px 48px;
    margin: 0;
  }

  .upload__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 136px;
    margin-left: 0;
    margin-bottom: 60px;
  }

  .upload__crop {
    width: 48px;
    height: 48px;
  }

  .upload__fill {
    width: auto;
    height: auto;
  }

  .upload__contrast {
    width: auto;
    height: auto;
  }

  .upload__range {
    min-width: 288px;
    margin-left: 19px;
  }

  .upload__range-bar {
    width: 288px;
    top: 23px;
  }

  .upload__range-control {
    top: 17px;
    left: 70px;
    height: 14px;
    width: 14px;
  }

  .upload__edit-button {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 21px;
  }

  .upload__edit-item {
    margin: 0;

    &:nth-child(2) {
      margin-top: 0;
      margin-left: 2px;

      .upload__edit-button {
        margin-bottom: 18px;
      }

      .upload__range-control {
        left: 246px;
        top: 17px;
      }

      .upload__range {
        margin-left: 18px;
      }

      .upload__range-bar {
        top: 23px;
        left: 0;
      }
    }

    &:last-child {
      margin-top: 0;
      margin-left: 8px;

      .upload__range {
        margin-left: 28px;
      }

      .upload__range-bar {
        top: 22px;
        left: 0;
      }

      .upload__range-control {
        left: 160px;
        top: 16px;
      }
    }

    &::before {
      width: 410px;
      left: 0;
      top: 60px;
    }

    &:last-child::before {
      display: none;
    }
  }
}
