// Colors

$darkblue: #1d2631;
$greyblue: #283645;
$lightgrey: #f2f2f2;
$grey: #e5e5e5;
$black: #000000;
$white: #ffffff;
$pink: #d22856;
$green: #3dc644;
$specialgreen: #2aab6d;
$hovergreen: #1c9b5e;
$orange: #f25b26;

// Viewports

$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 659px;
